@import 'variables';

/* --------------------------------

xTypography

-------------------------------- */

h1,
h2,
h3 {
  font-family: $secondary-font;
  color: $color-2;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;

  @include MQ(S) {
    font-size: 1.8rem;
  }
}

section > h2::before {
  /* number before each section title */
  color: lighten($color-4, 10%);
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: lighten($color-2, 25%);

  a {
    color: $color-1;
    text-decoration: underline;
  }

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
