// color palette - these colors will be the color swatches of the Colors section

$color-1: #f0e330; // Bright Yellow
$color-2: #854dff; // Light Purple
$color-3: #6d30f0; // Medium Purple
$color-4: #a39800; // Gold
$color-5: #3f10a3; // Royal Purple

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red

// fonts
$primary-font: 'Merriweather', serif;
$secondary-font: 'Centaur', serif;
